* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 16px;
}

body {
    font-family: arial;
    background-color: cornflowerblue;
}

#container-global {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.titulo-verificador {
    font-size: 2.5rem;
    color: white;
    margin: 20px 0 20px 0;
}



#container-global form {
    width: 600px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
}


.label-ano-1 {
    font-size: 1.5rem;
    font-weight: 600;
    
}

.input-ano-1 {
    width: 200px;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 5px;
}

.input-ano-1::placeholder {
    font-weight: 600;
    color: black;
    
}

.container-radio-sexo {
    margin-top: 10px;
}

.label-sexo {
    font-size: 1.5rem;
    font-weight: 600;
}

.label-sexo-information-m {
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 5px;
}

.input-sexo-f {
    margin-left: 10px;
}

.label-sexo-information-f {
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 5px;
}

.input-submit {
    margin-top: 20px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.input-submit:hover {
    background-color: cornflowerblue;
    color: white;
}

#res {
    position: relative;
    top: 15px;
}


@media (max-width: 425px){
    
    .titulo-verificador {
        text-align: center;
    }

    #container-global form {
        width: 400px;
        height: 420px;
    }
    
}

@media (max-width: 375px){
    
    .titulo-verificador {
        text-align: center;
    }


    #container-global form {
        width: 350px;
     
    }

    .container-radio-sexo {
        white-space: nowrap;
    }
    
}

